:root{
	--main-color: #e17055;
	--main-bg-color: #303952;
	--secondary-color: #686de0;
}

body
{
	margin: 0;
	background-color: var(--main-bg-color);
	color: var(--main-color);
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
}

a:link    { color: var(--main-color); text-decoration: none; }
a:visited { color: var(--main-color); }
a:active  { color: var(--main-color); }
a:hover   { color: var(--secondary-color); }

h1
{
	font-size: 56px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-bottom: 0px;
}

p
{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

#board
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cardA
{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/emblem.png");
	border: 4px solid var(--secondary-color);
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
}

.card
{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/emblem.png");
	border: 4px solid var(--main-color);
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
}

.card:hover
{
	border: 4px solid var(--secondary-color);
	filter: brightness(100%);
}

#score
{
	margin-top: 5px;
	letter-spacing: 2px;
}



















